* {
  color: #fff;
}

.topContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1d1d1d;
  color: #fff;
  padding: 2%;
}
.formContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #1d1d1d;
}

.formContainer h2 {
  font-size: 1.3rem;
  font-weight: 500;
}
.formContainer form {
  width: 70%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 5px;
  padding: 5%;
}
.formContainer form input,
.formContainer form textarea {
  color: rgba(222, 222, 222, 1);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(222, 222, 222, 1);
  width: 100%;
  margin: 15px 0;
}
.formContainer form input::placeholder,
.formContainer form textarea::placeholder {
  color: rgba(222, 222, 222, 1);
}
.formContainer input[type='checkbox'] {
  width: 20px;
  margin-right: 10px;
}
.formContainer form textarea {
  height: 100px;
}

.formContainer button {
  background-color: rgba(222, 222, 222, 1);
  color: #1d1d1d;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 15px 0;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  max-width: 200px;
}
.albumWrapper {
  width: 80%;
  margin: 0 5% 0 10%;
  max-width: 1200px;
  color: rgba(222, 222, 222, 1);
}
.title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  line-height: 2rem;
}
.artist {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}
img {
  width: 100%;
  max-width: 350px;
  margin: 0;
  display: block;
  border: 1px solid rgba(222, 222, 222, 1);
}
.reviewWrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #1d1d1d;
  flex-wrap: wrap;
}
.reviewTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1% 0 0 10%;
  line-height: 2rem;
  color: rgba(222, 222, 222, 1);
}
.reviewWrapper > p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
  color: rgba(222, 222, 222, 1);
}
.reviewCard {
  width: 30%;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 5px;
  margin: 1.5%;
  padding: 1%;
}

.headline {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(222, 222, 222, 1);
}
.author,
.favorite,
.rating,
.review {
  font-size: 1rem;
  font-weight: 400;

  color: rgba(222, 222, 222, 1);
}
.author {
  margin-bottom: 15px;
  font-weight: 500;
}
.rating {
  margin-top: 15px;
}
